section {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  /* gap: 20px; */
}

.cards {
  width: 250px;
  /* width: 100%; */
  padding: 20px;
  transition: box-shadow 0.3s;
}

.cards:hover {
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.image-box img {
  /* width: 100%;
  height: auto; */
  width: 150px;
  height: 250px;
}

.details {
  padding: 10px;
}

.details p:nth-child(1) {
  font-weight: bold;
}

.details p:nth-child(2) {
  color: gray;
  font-size: 0.7rem;
  font-weight: bold;
}

.details p:nth-child(3) {
  font-weight: bold;
  color: gray;
}

.details button {
  padding: 5px 10px;
  border: none;
  font-weight: bold;
  color: #fff;
  background: #feb376;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  /* transition: background 0.3s; */
}

.details button:hover {
  background: rgb(
    32,
    181,
    218
  ); /* Change the background color to aqua on hover */
}

/* Media queries for responsiveness */

@media screen and (max-width: 768px) {
  section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  section {
    grid-template-columns: 1fr;
  }
  .cards {
    width: 100%;
  }
}
